<odoo>
    <menuitem id="base.menu_management"
              groups="base.group_system" />

    <menuitem id="manu_agendamento"
              sequence="1"
              name="Agendamentos"
              action="scheduler_core_agendamento_action"/>

    <menuitem id="menu_cadastros"
              sequence="2"
              name="Cadastros" />

        <menuitem id="menu_action_cliente"
                  sequence="1"
                  name="Clientes"
                  parent="menu_cadastros"
                  action="scheduler_core_res_partner_cliente_action" />

        <menuitem id="menu_action_estacao"
                  sequence="2"
                  name="Estação"
                  parent="menu_cadastros"
                  action="scheduler_core_estacao_action" />

        <menuitem id="menu_action_procedimento"
                  sequence="3"
                  name="Procedimento"
                  parent="menu_cadastros"
                  action="scheduler_core_procedimento_action" />

        <menuitem id="menu_action_responsavel"
                  sequence="4"
                  name="Responsavel Estação"
                  parent="menu_cadastros"
                  action="scheduler_core_res_partner_responsavel_action" />

    <menuitem id="menu_configuracoes"
              sequence="3"
              name="Configurações" />

        <menuitem id="configuracao_funcionamento_menu"
                  sequence="1"
                  name="Horários de Funcionamento"
                  parent="menu_configuracoes"
                  action="configuracao_funcionamento_action"/>
</odoo>