<odoo>
    <menuitem id="menu_scheduler_dashboard"
              name="Dashboard"
              sequence="0"
              action="scheduler_core.action_scheduler_dashboard"/>

    <menuitem id="base.menu_management"
              groups="base.group_system" />

    <menuitem id="menu_servicos"
              sequence="1"
              name="Serviços" />

        <menuitem id="manu_agendamento"
                  sequence="1"
                  name="Agendamentos"
                  parent="menu_servicos"
                  action="scheduler_core_agendamento_action"/>

        <menuitem id="menu_ordem_servico_root"
                  name="Ordens de Serviço"
                  parent="menu_servicos"
                  action="action_ordem_servico"/>

    <menuitem id="menu_cadastros"
              sequence="2"
              name="Cadastros" />

        <menuitem id="menu_action_cliente"
                  sequence="1"
                  name="Clientes"
                  parent="menu_cadastros"
                  action="scheduler_core_res_partner_cliente_action" />

        <menuitem id="menu_action_recurso"
                  sequence="2"
                  name="Recursos"
                  parent="menu_cadastros"
                  action="scheduler_core_recurso_action" />

        <menuitem id="menu_action_procedimento"
                  sequence="3"
                  name="Procedimentos"
                  parent="menu_cadastros"
                  action="scheduler_core_procedimento_action" />

        <menuitem id="menu_action_responsavel"
                  sequence="4"
                  name="Responsaveis Atendimento"
                  parent="menu_cadastros"
                  action="scheduler_core_res_partner_responsavel_action" />

        <menuitem id="menu_material_action"
                  name="Materiais"
                  parent="menu_cadastros"
                  action="action_material"
                  sequence="5"/>

    <menuitem id="menu_configuracoes"
              sequence="3"
              name="Configurações" />

        <menuitem id="configuracao_funcionamento_menu"
                  sequence="1"
                  name="Horários de Funcionamento"
                  parent="menu_configuracoes"
                  action="configuracao_funcionamento_action"/>
</odoo>